body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: gray;
}

#bem_vindo {
    margin-top: 20px;
}

.planos {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.foto {
    margin: 0 10px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}
